<h2 mat-dialog-title>Crime</h2>
<mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon svgIcon="suspect"></mat-icon>
      <h3 matLine>{{ data.suspect.name }}</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon svgIcon="weapon"></mat-icon>
      <h3 matLine>{{ data.weapon.name }}</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon svgIcon="place"></mat-icon>
      <h3 matLine>{{ data.place.name }}</h3>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>FERMER</button>
</mat-dialog-actions>
