#main-container, #footer-container {
  padding: 15px;
}
#footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#solution-container {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}